@model VeterinariaMVC.Entidades.ViewModels.Producto.ProductoEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm("Edit", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductoId)
        @Html.HiddenFor(model => model.Imagen)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoDeProductoId)
                    @Html.DropDownListFor(model => model.TipoDeProductoId, new SelectList(Model.TipoProducto, "TipoDeProductoId", "Descripcion"), "Seleccione Tipo de Producto", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoDeProductoId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MarcaId)
                    @Html.DropDownListFor(model => model.MarcaId, new SelectList(Model.Marca, "MarcaId", "Nombre"), "Seleccione una Marca", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Modelo)
                    @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion)
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", rows = 5, cols = 10})
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrecioVenta)
                    @Html.TextBoxFor(model => model.PrecioVenta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PrecioVenta, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrecioCompra)
                    @Html.TextBoxFor(model => model.PrecioCompra, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PrecioCompra, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Stock)
                    @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-6">
                <h2>Foto del Producto</h2>

                <div class="well">
                    <img id="imgSalida" src="@Url.Content($"~/Content/Imagenes/Producto/{Model.Imagen}")" alt="Imagen" style="width: 50%">
                    <div class="caption">
                        <p>@Model.Modelo</p>
                    </div>
                    <span class="btn btn-default btn-file" id="file-input">
                        @Html.TextBoxFor(modelo => modelo.ImagenFile, new { type = "file" })
                    </span>
                </div>
                <br>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-warning" />
            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-success" })
        </div>

    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#file-input').change(function (e) {
                addImage(e);
            });
            function addImage(e) {
                var file = e.target.files[0],
                    imageType = /image.*/;
                if (!file.type.match(imageType))
                    return;
                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }
            function fileOnload(e) {
                var result = e.target.result;
                $('#imgSalida').attr("src", result);
            }
        });
    </script>

}

