@model VeterinariaMVC.Entidades.ViewModels.Producto.ProductoFilterViewModel

@{
    ViewBag.Title = "Index";
}
<div>
    <a href="@Url.Action("Create","Producto")" class="btn btn-primary" style="float: right">
        Nuevo
    </a>
    <h2>Listado de Productos</h2>
</div>
@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> @msg
    </div>

}

<hr />
<div class="row">
    <div class="col-md-2">
        <h4>Filtro:</h4>
        <div class="list-group">
            <div class="list-group">
                @Html.ActionLink("Todos", "Index", null, new { @class = Request["tipoProducto"] == null ? "list-group-item active" : "list-group-item" })
                @foreach (var tipo in Model.TipoProducto)
                {
                    @Html.ActionLink(tipo.Descripcion, "Index", new { tipoProducto = tipo.Descripcion }, new { @class = Request["tipoProducto"] == tipo.Descripcion ? "list-group-item active" : "list-group-item" })
                }
            </div>
        </div>

    </div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].PrecioVenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].TipoDeProducto)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Productos)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/Content/Imagenes/Producto/{item.Imagen}")" style="height: 50px" class="img-thumbnail" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVenta)
                    </td>

                    <td style="width: 100px">
                        @Html.DisplayFor(modelItem => item.TipoDeProducto)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoId }, new { @class = "btn btn-warning" }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.ProductoId }, new { @class = "btn btn-info" }) |*@
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ProductoId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>

</div>

