@model VeterinariaMVC.Entidades.ViewModels.Medicamento.MedicamentoListViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar este registro?</h3>
<div>
    <h4>Medicamento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicamentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeMedicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspendido)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MedicamentoId)
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-success" })
        </div>
    }
</div>



