@model VeterinariaMVC.Entidades.ViewModels.Raza.RazaListViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Está seguro de borrar el registro seleccionado?</h3>
<div>
    <h4>Raza</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeMascota)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.RazaId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>


